@import url('https://fonts.googleapis.com/css?family=Lato:100i,400i|Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Allura');

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;

}

html, a, p {
    color: orange
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;

}

.menu-main-navigation-container {
    position: absolute;
    top: 5%;
    width: 400px;
    
    
}

.menu {
    display: flex;
    justify-content: space-around;
    padding:0;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
}

#custom-bg {
    height: 100vh;
}

#background-div {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.read-more {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    transition: opacity .5s;
    padding: 1rem;
    z-index: 2;
}

.read-more p {
    columns: 2;
    letter-spacing: 1.1px;
    line-height: 32px;
}

.post-contents {
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 1rem;
    z-index: 2;

}

#excerpt {
    display: inline;
}

#add-button {
}

.opacityToggle{
    opacity: 0;
    z-index: -1;
}
